@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;716&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@400;716&display=swap');
body{
    font-family: sans-serif;
    font-weight: bolder;
}
.card:hover{
    /* transform: scale(1.05); */
    transition:  all .6s;
    box-shadow: 1px 1px 20px #000;
}
.font1{
    font-family: "Raleway",sans-serif    ;
    font-size: 40px;
}
.font2{
    font-family: "Fjalla One";
    font-style: italic;
    font-weight: bolder;
}

.btn-bg-yellow-100{
    background-color: #feedbb ;
    padding: 5px;
    border-radius: 5px;
}
.text-gray-600{
    color: rgba(255, 255, 255, 0.564);
}
.text-warning1{
    color:rgb(255, 145, 0);
}
.textz{
    color: #f400b7;
}
.bgz{
    background-color:#f400b7 ;

}
.btn.btn-z{
    background-color:#f400b7 ;
    color: white;


}
.star{
    opacity: .3;
}
ul li{
    list-style-type: none;
}
.btn.btn-z:hover{
    background-color:#7e0460 ;
}
.navbar-nav li:hover{
    background-color: rgb(114, 114, 108);
    border-radius: .5rem;
}
.bg-secon{
    background-color: rgb(236, 230, 226);
}
.im2{
    background-image: url('images/imag\ 2.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.ma-2{
font-size: 3rem;
}
.ma-3{
    margin-top: 7rem;
    font-size: 4rem;
}
@media(min-width:1200px){
    .mzz{
        padding-right: 500px;
    }
}
@media(max-width:1200px){
    .ma-2{
        
        font-size: 1.5rem;
        }
        .ma-3{
            margin-top: 3rem;
            font-size: 2rem;
        }

}